.project-card {
    // Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 30rem;
    margin-bottom: 3rem;
    z-index: 1000;

    &__side {
        font-size: 2rem;
        height: 30rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: $default-border-radius;
        overflow: hidden;
        box-shadow: 0 .5rem 1.5rem rgba($color-black, .15);

        &--front {
            background-color: $color-grey-dark-3;
        }
    
        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-black, $color-black);
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateX(0);
    }

    // Front-side styling

    &__picture {
        float: left;
        width: 100%;
        height: 100%;
        // background-blend-mode: screen;
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // border-top-left-radius: 3px;
        // border-top-right-radius: 3px;

        &--1 {
            height: 100%;
            background-image: url(../images/kingofthecourt.png);
            background-size: cover;
            background-position: center;
        }

        &--2 {
            height: 100%;
            background-image: url(../images/burger.png);
            background-size: cover;
            background-position: center;
        }

        &--3 {
            height: 100%;
            background-image: url(../images/friend-finder.png);
            background-size: cover;
            background-position: center;
        }

        &--4 {
            height: 100%;
            background-image: url(../images/back-end-node.png);
            background-size: cover;
            background-position: center;
        }

        &--5 {
            height: 100%;
            background-image: url(../images/back-end-liri.png);
            background-size: cover;
            background-position: center;
        }

        &--6 {
            height: 100%;
            background-image: url(../images/meal-planner.png);
            background-size: cover;
            background-position: center;
        }

        &--8 {
            height: 100%;
            background-image: url(../images/star-wars.png);
            background-size: cover;
            background-position: center;
        }

    }


    // Back-side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 1rem;
        color: $color-white;
    }
}

.icon {
    color: $color-white;
}

@include breakpoint(tab-port) {

    .project-card {
        // Functionality
        perspective: 0rem;
        -moz-perspective: 0rem;
        position: relative;
    
        &__side {
            font-size: 2rem;
            height: 30rem;
            transition: all .8s ease;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: $default-border-radius;
            overflow: hidden;
            box-shadow: 0 .5rem 1.5rem rgba($color-black, .15);
    
            &--front {
                background-color: $color-grey-dark-3;
            }
        
            &--back {
                transform: rotateY(0deg);
                display: none;
    
                &-1 {
                    background-image: linear-gradient(to right bottom, $color-black, $color-black);
                }
    
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }
    
        &:hover &__side--back {
            transform: rotateX(0);
        }
    
        // Front-side styling
    
        &__picture {
            float: left;
            width: 100%;
            height: 100%;
            // background-blend-mode: screen;
            // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            // border-top-left-radius: 3px;
            // border-top-right-radius: 3px;
    
            &--1 {
                height: 100%;
                background-image: url(../images/kingofthecourt.png);
                background-size: cover;
                background-position: center;
            }

            &--2 {
                height: 100%;
                background-image: url(../images/burger.png);
                background-size: cover;
                background-position: center;
            }

            &--3 {
                height: 100%;
                background-image: url(../images/friend-finder.png);
                background-size: cover;
                background-position: center;
            }

            &--4 {
                height: 100%;
                background-image: url(../images/back-end-node.png);
                background-size: cover;
                background-position: center;
            }

            &--5 {
                height: 100%;
                background-image: url(../images/back-end-liri.png);
                background-size: cover;
                background-position: center;
            }

            &--6 {
                height: 100%;
                background-image: url(../images/meal-planner.png);
                background-size: cover;
                background-position: center;
            }

            &--8 {
                height: 100%;
                background-image: url(../images/star-wars.png);
                background-size: cover;
                background-position: center;
            }
    
        }
    
        // Back-side styling
        &__cta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
        }
    
        &__price-box {
            text-align: center;
            margin-bottom: 1rem;
            color: $color-white;
        }
    }
    
}
@include breakpoint(phone) {
    .project-card {
        // Functionality
        perspective: 0rem;
        -moz-perspective: 0rem;
        position: relative;
    
        &__side {
            font-size: 2rem;
            height: 30rem;
            transition: all .8s ease;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: $default-border-radius;
            overflow: hidden;
            box-shadow: 0 .5rem 1.5rem rgba($color-black, .15);
    
            &--front {
                background-color: $color-grey-dark-3;
            }
        
            &--back {
                transform: rotateY(0deg);
                display: none;
    
                &-1 {
                    background-image: linear-gradient(to right bottom, $color-black, $color-black);
                }
    
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }
    
        &:hover &__side--back {
            transform: rotateX(0);
        }
    
        // Front-side styling
    
        &__picture {
            float: left;
            width: 100%;
            height: 100%;
            // background-blend-mode: screen;
            // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            // border-top-left-radius: 3px;
            // border-top-right-radius: 3px;
    
            &--1 {
                height: 100%;
                background-image: url(../images/kingofthecourt.png);
                background-size: cover;
                background-position: center;
            }

            &--2 {
                height: 100%;
                background-image: url(../images/burger.png);
                background-size: cover;
                background-position: center;
            }

            &--3 {
                height: 100%;
                background-image: url(../images/friend-finder.png);
                background-size: cover;
                background-position: center;
            }
    
        }
    
    
        // Back-side styling
        &__cta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
        }
    
        &__price-box {
            text-align: center;
            margin-bottom: 1rem;
            color: $color-white;
        }
    }
    
}