body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

h1 {
    padding-bottom: 2rem;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.heading-primary {
    
    color: $color-white;
    text-transform: uppercase;
    /* Shaking animation bug fix */
    backface-visibility: hidden;

    &--main {
        display: block;
        width: 100%;
        font-size: 11rem;
        font-weight: 700;
        letter-spacing: -.4rem;
        animation: moveInTop 1.5s ease-out .75s;
        animation-fill-mode: backwards;
        line-height: 10rem;
        text-shadow: 0  1rem 2rem rgba($color-black, .8);
        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }

    &--category {
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: .2rem;
    }
    
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .5rem;
        animation: moveInLeft 1.25s ease-out 1s;
        animation-fill-mode: backwards;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    &:hover {
        transform: skewY(1deg) skewX(3deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-secondary {
    font-size: 11rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
    color: white;
    -webkit-background-clip: text;
    transition: all .2s;
    letter-spacing: .2rem;

    &:hover {
        // transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .15rem;
}

.logo {
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: $color-black;
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: .1rem;
    font-weight: 300;
    line-height: 2.75rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    @include breakpoint(phone) {
        font-size: $default-font-phone;
    }
}

.heading-nav {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
    padding: .5rem 0;

    @include breakpoint(tab-port) {
        display: inline-block;
        padding: 0 .5rem 2rem .5rem;
    }

    @include breakpoint(phone) {
        display: inline-block;
        padding: 0 .5rem 2rem .5rem;
    }
}

.project-text {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: $color-grey-dark-2;
}

.project-profile {
    font-size: 2rem;
    padding: 3rem 0;
    list-style: none;

    @include breakpoint(tab-port) {
        padding: 3rem 0 0 0;
    }
    
    @include breakpoint(phone) {
        padding: 3rem 0 0 0;
    }
}

.project-icon {

    display: inline-block;

    &--button {
        text-decoration: none;
        color: $color-grey-dark-2;
        padding-right: 2rem;
    
        &:link,
        &:visited {
            color: $color-grey-dark-2;
        }
    
        &:hover {
            color: $color-grey-light-2;
        }
    }

}


.profile-icon {
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;

    @include breakpoint(tab-port) {
        font-size: 3rem;
    }

    @include breakpoint(phone) {
        font-size: 3rem;
    }

    &:link,
    &:visited {
        color: $color-black;
    }

    &:hover {
        color: $color-grey-dark-2;
    }
}