
.header {
    height: 100vh;
    // background-color: black;
    // background-image: linear-gradient(to bottom, $color-blue-light, $color-primary);
    background-size: cover;
    background-position: bottom;
    position: relative;
    opacity: 1;

    @include breakpoint(phone) {
        height: 100vh;
    }

    &__background-layer-01 {
        background-image: url(../images/ab-background.jpg);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        @include absolute-center;
        bottom: 0;
        display: inline-block;
        // z-index: 0;
        @include breakpoint (phone) {
            height: 100%;
            bottom: 0;
        }
    }

    &__background-layer-02 {
        background-image: url(../images/tree.png);
        height: 100%;
        width: 100%;
        bottom: 0;
        background-size: cover;
        background-position: bottom;
        @include absolute-center;
        bottom: 0;
        display: inline-block;
        z-index: 2;
        @include breakpoint (phone) {
            height: 100%;
            bottom: 0;
        }
    }

    // &__background-layer-02 {
    //     background-image: linear-gradient(
    //         120deg,
    //         transparent 0%,
    //         transparent 49%,
    //         $color-blue 49%,
    //         $color-primary 90%);
    //     background-size: cover;
    //     height: 100%;
    //     width: 100%;
    //     background-size: cover;
    //     background-position: bottom;
    //     animation: fadeIn 3s ease .75s;
    //     animation-fill-mode: backwards;
    //     position: absolute;
    //     z-index: 1000;
    // }

    // &__background-layer-02 {
    //     @include absolute-center;
    //     width: 50rem;
    //     height: 50rem;
    //     border-radius: 100%;
    //     background-color: lightgray;
    // }

    // &__background-layer-02 {
    //     position: absolute;
    //     bottom: 0;
    //     height: 70%;
    //     width: 100%;
    //     background-color: lightgray;
    // }
 

    &__text-box {

        &--left {
            position: absolute;
            top: 50%;
            left: 22%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 3000;

            @include breakpoint(phone) {
                left: 50%;
                top: 28%;
            }
        }

        &--right {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 3000;
        }
  
    }

    &__menu {
        padding: 3rem;
        margin: 0 auto;
        width: 80%;
        color: $color-white;
        z-index: 4000;
        text-transform: uppercase;
        letter-spacing: .3rem;
        border-bottom: 1px solid white;

        ul {
            list-style: none;
        }
    }
}